@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Fauna+One);

/* HTML reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
html, body {}
body {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100%;
}

/* Custom styles */

#page-wrap {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

/*  SECTIONS  */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */

.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

/* For IE 6/7 */


/*  GRID OF FIVE  */

.span_5_of_5 {
  width: 100%;
}
.span_4_of_5 {
  width: 79.68%;
}
.span_3_of_5 {
  width: 59.36%;
}
.span_2_of_5 {
  width: 39.04%;
}
.span_1_of_5 {
  width: 18.72%;
}

/*map stuff*/

#map_wrapper {
  height: 400px;
  width: 800px;
}
#map_canvas {
  width: 100%;
  height: 100%;
}

/*end map stuff*/

#logo {
  margin: 50px 0 32px 0;
}
br.r-br {
  display:none;
}
#message {
  font-family: 'Fauna One', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.044em;
  line-height: 1.42;
  text-align: center;
  word-wrap: break-word;
  padding: 13px;
  margin: 0 0 22px 0;
  background-color: #EFEFEF;
  border: solid 1px #D8D8D8;
  text-shadow: white 0px 0px 2px;
}
#project-images {
  margin-top: 15px;
}
#project-images-small {
  display: none;
}
div #footer-content {
  clear: both;
  float: left;
}
.footer-content {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1em;
}
ol.footer-content {
  display: block;
  height: 100px;
}
.address {
  margin-top: 10px;
}
.span-footer-find {
  width: 36%;
}
.span-footer-contact {
  width: 33%;
}
.span-footer-in {
  width: 26%;
}
h3.footer-content {
  font-weight: 700;
  margin-bottom: 0.5em;
}
a.footer-link {
  text-decoration: none;
  color: inherit;
}
a.footer-link:hover {
  color: #0071a5;
}
.footer-sprite {
  float: left;
  margin: 10px 16px 28px 0;
  width: 60px;
  height: 60px;
  background-image: url('../images/icon-sprite-216x144.png');
  background-size: 180px;
}
.footer-sprite-pin {
  background-position: left 0px;
}
a.footer-link:hover div.footer-sprite-pin {
  background-position: left 61px;
}
.footer-sprite-phone {
  background-position: center 0px;
}
.footer-sprite-in {
  background-position: -120px 0px;
}
a.footer-link:hover div.footer-sprite-in {
  background-position: -120px 61px;
}
.copyright {
  display: block;
  margin: 40px 0 15px;
  clear: both;
  font-size: .75em;
  text-align: center;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 480px) {
  #page-wrap {
    width: 100%;
    /* padding:5px; margin: 1% 0 1% 0%;*/
  }
  .col {
    margin: 1% 0 1% 0%;
  }
  .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 {
    width: 100%;
  }
  .span-footer-find, .span-footer-contact, .span-footer-in {
    width: 100%;
  }
  /*#map_wrapper {width:100%; height: 65%; min-height:400px;}*/
  #logo {
    margin: 3% 2% 2%;
    width: 96%;
  }
  div#message {
    width: 96% font-size: 14px;
    margin: 0 2% 2%;
  }
  div#message em {
    font-size: 17px;
    display: block;
    clear: both;
    margin-bottom: 4px;
  }
  br.r-br {
    display:block;
  }

  div#message h2 {
    font-size:14px;
  }

  #project-images {
    display: none;
  }
  #project-images-small {
    display: block;
    margin: 3% 2% 2%;
    width: 96%;
  }
  .footer-sprite {
    margin: 10px 14px 10px 5%;
    width: 40px;
    height: 40px;
    background-size: 120px;
  }
  a.footer-link:hover div.footer-sprite-pin {
    background-position: left 41px;
  }
  a.footer-link div.footer-sprite-in {
    background-position: -80px 0px;
  }
  a.footer-link:hover div.footer-sprite-in {
    background-position: -80px 41px;
  }
}
