/*------------------------------------*\
    $CART
\*------------------------------------*/

.cart-collaterals {
	margin-top: 60px;
}

.woocommerce .cart-collaterals .cart_totals, 
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals .shipping_calculator, 
.woocommerce-page .cart-collaterals .shipping_calculator{
	float: none !important;
	text-align: left;
	width: 100% !important;
}

.woocommerce-page .cart-collaterals .cart_totals table{
	th, td, tr{
		border-left: 0;
		border-right: 0;
	}
}

td.actions input.button{
	line-height: 1.6345 !important;
}

td.actions{
	padding: $u/2 $u/4 !important;
}

.woocommerce #content .quantity, 
.woocommerce .quantity, 
.woocommerce-page #content .quantity, 
.woocommerce-page .quantity{
	margin-left: 0;
}

.woocommerce table.shop_table, .woocommerce-page table.shop_table{
	border-radius: 0;
}

.woocommerce .cart-collaterals .cart_totals table tr th {
	padding-right: 20px;
	width: 35%;
}

.woocommerce #content table.cart td.actions .coupon .input-text, 
.woocommerce table.cart td.actions .coupon .input-text, 
.woocommerce-page #content table.cart td.actions .coupon .input-text, 
.woocommerce-page table.cart td.actions .coupon .input-text{
	width: 120px;
	height: 46px;
	box-shadow: none;
}

.shipping-calculator-button{
	color: $dark;
}
.shipping-calculator-button:after{
	content: none !important;
}

.product-thumbnail-link{
	color: $dark;
}

.shipping_calculator h2 a{
	border-bottom: 2px solid $dark !important;
}

.shop_table a{
	border: 0;
}

.product-thumbnail{
	text-align: center;
}

.woocommerce div.cart-collaterals .cart_totals{
	text-align: left;
}

.woocommerce table.shop_table, .woocommerce-page table.shop_table{
	th {
		border: 0;
	}

	td {
		border: 0;
		border-top: 1px solid rgba(0,0,0,.1);
	}

	&.cart {
		margin-bottom: 0;

		// http://css-tricks.com/responsive-data-tables/
		@include query-below($lap) {
			/* Force table to not be like tables anymore */
			&, thead, tbody, th, td, tr {
				display: block;
			}

			/* Hide table headers (but not display: none;, for accessibility) */
			thead tr {
				position: absolute;
				top: -9999px;
				left: -9999px;
			}

			tr {
				border: 2px solid #ccc;
			}

			td {
				/* Behave  like a "row" */
				border: none;
				border-bottom: 1px solid #eee;
				position: relative;
				padding-left: 50%;
				margin-bottom: 0;
				text-align: left;
			}

			td:before {
				content: attr(data-mobile-caption);

				/* Now like a table header */
				position: absolute;
				/* Top/left values mimic padding */
				top: 50%;
				left: 6px;
				width: 45%;
				padding-right: 10px;
				white-space: nowrap;
				text-align: left;
				transform: translateY(-50%);
			}

			td.actions{
				.coupon{
					margin-bottom: $u;
				}

				input{
					width: 100% !important;
					float: none !important;
					margin-bottom: $u/4 !important;
				}
			}
		}
	}
}

.wc-proceed-to-checkout {
	max-width: 300px;
	text-align: right;
	float: right;

	.button {
		font-weight: bold !important;
	}
}

.woocommerce-shipping-calculator {
	margin-top: 20px;
}

.shipping-calculator-form {
	margin-bottom: 20px;

	button[type=submit] {
		margin-top: 20px;
	}
}